<!DOCTYPE html>
<html lang="en">
{% load static %}    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Catalog{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <span class="logo">Movies</span>
        <ul class="nav">
            <li><a href="{% url 'index' %}">Main page</a></li>
            <li><a href="{% url 'movie_list' %}">Movies</a></li>
        </ul>
    </header>
    <section class="messages">
        {% for message in messages %}
            <p class="message message-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </section>
    <main>{% block content %}{% endblock content %}</main>     
    <footer>
        {% block footer %}{% endblock footer %}       
        <p>&copy; 2024 PTU20 
            <a href="https://github.com/MaxIsayev" target="_blank">Max Isayev</a>
            <a style="float:right;" href="https://discord.gg/ywbbZPcY">community on discord</a>
            <a style="float:right;" href="https://facebook.com/" target="_blank"><img class="icon" width="40" height="40" src="{% static "img/fbicon.png" %}"></a>
        </p>
    </footer>   
</body>
</html>