{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }} | {{ movie }}{% endblock title %}
{% block content %}
<h1>{{ movie.name }}</h1>
{% if movie.owner == request.user %}
    <p>
        <a class="button" href="{% url "movie_update" movie.pk %}">{% trans "edit"|capfirst %}</a>
        <a class="button" href="{% url "movie_delete" movie.pk %}">{% trans "delete"|capfirst %}</a>
    </p>
{% endif %}
<p>{{ movie.owner }} / {{ movie.category }}</p>
<p>{{ movie.studio }}</p>
<p>{{ movie.description|safe }}</p>
<p>{{ movie.length }}</p>
<p>{{ movie.movie_year }}</p>
<p>{{ movie.director }}</p>
<p>{{ movie.genre }}</p>
{% if movie.video_file != "" %}     
        <center>
            <p>{% trans "video file preview"|capfirst %}</p> 
            <video controls >
                <source src="{{ movie.video_file.url }}" type="video/mp4">
            </video>
        </center>    
{% endif %}    
{% if movie.video_image != "" %}  
    <center>    
        <p>{% trans "video image"|capfirst %}</p>    
        <img src="{{ movie.video_image.url }}" alt="Image"> 
    </center>
{% endif %} 
{% if movie.youtube_video_hash %}
    <center>   
        <p>{% trans "YouTube preview"|capfirst %}</p>     
        <div class="tube">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ movie.youtube_video_hash}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </center>    
{% endif %}

<div class="toolbar">
    {% if request.user.is_authenticated %}
    <center>
        <form action="{% url "movie_like" movie.pk %}" method="get">
            <input type="hidden" name="next" value="{{ request.path }}">
            <select class="like-type" name="like_type" onchange="this.form.submit();">
                <option value="">{% trans "like" %}</option>
                {% for like_type in like_types %}
                    <option value="{{ like_type.0 }}">{{ like_type.1|safe }}</option>
                {% endfor %}
            </select>
        </form> 
    </center>    
    {% endif %}
    <p>
        {% for like in movie.likes_by_type %}
            {% for like_type in like_types %}
                {% if like_type.0 == like.like_type%}{{ like_type.1|safe }}: {{ like.count }}{% endif %}
            {% endfor %}
        {% endfor %}  
    </p>
</div>
    
{% endblock content %}